@{
    ViewBag.Title = "Reconciliation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

        var baseUrl = '@Url.Content("~/")';
        var client_ID = $("#hdnClientId").val();
        var project_ID = $("#hdnProjectId").val();
        var DatabaseIP = $("#hdnDatabaseIP").val();
        var SourceTarget = $("#hdnSourceTarget").val();
        var DatabaseName = $("#hdnDatabaseName").val();
        var srcConfigId = $("#hdnConfigId").val();
        var tgtConfigId = $("#hdnTgtConfigId").val();
        $("#btnViewReport").prop("disabled", true);

        if (typeof (Storage) !== "undefined") {
            sessionStorage.ddChange = true;
        }

        $("#progressDiv").hide()

        var srcTables =
                $.ajax({
                    url: baseUrl + "api/DataProfilerAPI/GetProfilerTableNames",
                    data: { client_ID: client_ID, project_ID: project_ID, config_Id: srcConfigId },
                    async: false,
                    success: function (data, result) {
                        if (!result) alert('Failure to retrieve the Tables.');
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                }).responseText;

        var srclist = jQuery.parseJSON(srcTables);

        for (i = 0; i < srclist.length; i++) {
            $('#ddlSourcetbl').append($('<option>').text(srclist[i].Table_Name).val(srclist[i].Table_Name));
        }

        var tgtTables =
                $.ajax({
                    url: baseUrl + "api/DataProfilerAPI/GetProfilerTableNames",
                    data: { client_ID: client_ID, project_ID: project_ID, config_Id: tgtConfigId },
                    async: false,
                    success: function (data, result) {
                        if (!result)
                            alert('Failure to retrieve the Tables.');
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                }).responseText;

        var tgtlist = jQuery.parseJSON(tgtTables);

        for (i = 0; i < tgtlist.length; i++) {
            $('#ddlTargettbl').append($('<option>').text(tgtlist[i].Table_Name).val(tgtlist[i].Table_Name));
        }

        $("#lblMappingName").text($('#ddlSourcetbl option:selected').text() + "2" + $('#ddlTargettbl option:selected').text());

        $('#ddlSourcetbl, #ddlTargettbl').change(function () {
            $("#lblMappingName").text($('#ddlSourcetbl option:selected').text() + "2" + $('#ddlTargettbl option:selected').text());

            if (typeof (Storage) !== "undefined")
                sessionStorage.ddChange = true;
        });

        $("#btnShowColumns").click(function () {

            var srcTblName = $("#ddlSourcetbl option:selected").text();
            var tgtTblName = $("#ddlTargettbl option:selected").text();

            if (typeof (Storage) !== "undefined")
                sessionStorage.ddChange = false;

            $("#btnViewReport").prop("disabled", true);

            $("#jqgrid1").GridUnload();
            jQuery("#jqgrid1").jqGrid({
                mytype: 'POST',
                datatype: 'json',
                url: baseUrl + 'api/DataReconAPI/GetTableColumns',
                postData: { client_ID: client_ID, project_ID: project_ID, srcTable: srcTblName, tgtTable: tgtTblName, srcConfig_ID: srcConfigId, tgtConfig_ID: tgtConfigId },
                height: 135,
                width: 800,
                autowidth: false,
                shrinkToFit: true,
                colNames: ['Source Columns', 'Target Columns'],
                colModel: [
                { name: 'srccolumn', index: 'srccolumn', width: 30, align: 'left', editable: false },
                { name: 'tgtcolumn', index: 'tgtcolumn', width: 30, align: 'left', editable: false },
                ],
                rowNum: -1,
                pager: '#pager1',
                multiselect: true,
                loadonce: true,
                gridview: true,
                pginput: false,
                pgbuttons: false,
                viewrecords: false,
                caption: 'Select Columns'
            });

        });

        $("#btnTransRule").click(function () {

            if (!preventAction())
                return;

            var srcTblName = $("#ddlSourcetbl option:selected").text();
            var tgtTblName = $("#ddlTargettbl option:selected").text();
            var selectedRow = jQuery("#jqgrid1").jqGrid('getGridParam', 'selarrrow');
            var srccolnames = [];
            var tgtcolnames = [];

            if (selectedRow == undefined || !selectedRow.length > 0) {
                alert("Please select column(s).");
                return;
            }

            for (var i = 0, il = selectedRow.length; i < il; i++) {
                var srcname = jQuery("#jqgrid1").jqGrid('getCell', selectedRow[i], 'srccolumn');
                var tgtname = jQuery("#jqgrid1").jqGrid('getCell', selectedRow[i], 'tgtcolumn');
                srccolnames.push(srcname);
                tgtcolnames.push(tgtname);
            }

            var emptyMsgDiv = $("<div><span style='color:red;font-size:18px'>No trans rule found</span></div>");

            $("#jqgrid2").GridUnload();
            jQuery("#jqgrid2").jqGrid({
                mytype: 'GET',
                datatype: 'json',
                url: baseUrl + 'api/DataReconAPI/GetTransRuleData',
                postData: {
                    client_ID: client_ID, project_ID: project_ID, srcTable: srcTblName, tgtTable: tgtTblName, Source_Column: srccolnames, Target_Column: tgtcolnames
                },
                height: 135,
                width: 800,
                autowidth: false,
                shrinkToFit: true,
                colNames: ['Source Columns', 'Source Trans Rule', 'Target Columns', 'Target Trans Rule'],
                colModel: [
                { name: 'srccolumn', index: 'srccolumn', width: 30, align: 'left', editable: false },
                { name: 'srcTransRule', index: 'srcTransRule', width: 30, align: 'left', editable: false },
                { name: 'tgtcolumn', index: 'tgtcolumn', width: 30, align: 'left', editable: false },
                { name: 'tgtTransRule', index: 'tgtTransRule', width: 30, align: 'left', editable: false },
                ],
                rowNum: -1,
                pager: '#pager2',
                loadonce: true,
                gridview: true,
                pginput: false,
                pgbuttons: false,
                viewrecords: false,
                caption: 'Trans Rule',
                loadComplete: function () {
                    var ts = this;
                    if (ts.p.reccount === 0) {
                        $(this).hide();
                        emptyMsgDiv.show();
                    } else {
                        $(this).show();
                        emptyMsgDiv.hide();
                    }
                }
            });
            emptyMsgDiv.insertAfter($("#jqgrid2").parent());
        });

        $("#btnCompare").click(function () {

            if (!preventAction())
                return;
            
            var srcTblName = $("#ddlSourcetbl option:selected").text();
            var tgtTblName = $("#ddlTargettbl option:selected").text();
            var mappingName = $("#lblMappingName").text();
            var selectedRow = jQuery("#jqgrid1").jqGrid('getGridParam', 'selarrrow');
            var srccolnames = [];

            if (selectedRow == undefined || !selectedRow.length > 0) {
                alert("Please select column(s).");
                return;
            }

            for (var i = 0, il = selectedRow.length; i < il; i++) {
                var srcname = jQuery("#jqgrid1").jqGrid('getCell', selectedRow[i], 'srccolumn');
                srccolnames.push(srcname);
            }

            $.ajax({
                type: "GET",
                dataType: "json",
                url: baseUrl + "api/DataReconAPI/CompareData",
                data: {
                    client_ID: client_ID, project_ID: project_ID,
                    srcTable: srcTblName, tgtTable: tgtTblName,
                    Source_Column: srccolnames, mappingName: mappingName,
                    srcConfig_ID: srcConfigId, tgtConfig_ID: tgtConfigId,
                    createdBy: "Hexaware"
                },
                success: function (data) {
                    alert(data);
                    if (data.indexOf('success') != -1)
                        $("#btnViewReport").prop("disabled", false);
                },
                error: function (err) {
                    alert(err.statusText);
                }
            })
        });

        function preventAction() {
            isValid = true;

            if (typeof (Storage) !== "undefined" && sessionStorage.ddChange == 'true') {
                alert("Click Show Columns.");
                isValid = false;
            }
            return isValid;
        }
    });
</script>
<div class="content-body" style="width:100%;">
    <div class="group">
        <div class="col-40">
            <div class="form-group width-per-100">
                <span id="lblSourcetbl" class="control-label">Select source table</span>
                <select id="ddlSourcetbl" class="dropdown"></select>
            </div>
        </div>
        <div class="col-40">
            <div class="form-group width-per-100">
                <span id="lblTargettbl" class="control-label">Select target table</span>
                <select id="ddlTargettbl" class="dropdown"></select>
            </div>
        </div>
    </div>
    <div class="group">
        <div class="form-group width-per-100">
            <span id="lblDataMapping" class="control-label">Data Mapping Name</span>
            <span id="lblMappingName" class="label-bold"></span>
        </div>
    </div>
    <div class="group">
        <div class="form-group width-per-100">
            <input class="form-button" type="button" value="Show Columns" id="btnShowColumns">
            <input class="form-button" type="button" value="View Trans Rule" id="btnTransRule">
            <input class="form-button" type="button" value="Compare Data" id="btnCompare">
            <input class="form-button" type="button" value="View Report" id="btnViewReport" onclick="window.location.href='@Url.Action("Report", "DataRecon")';">
        </div>
    </div>
    <div class="group">
        <div class="form-group width-per-100">
            <table id="jqgrid1" class="scroll" align='center'></table>
            <div id="pager1" class="scroll"></div>
        </div>
    </div>    
    <div class="group">
        <div class="form-group width-per-100">
            <table id="jqgrid2" class="scroll" align='center'></table>
            <div id="pager2" class="scroll"></div>
        </div>
    </div>
    <div class="group">
        <div class="form-load-img text-align-center width-per-100" id="progressDiv">
            <img src="~/Images/load5.gif" />
        </div>
    </div>
</div>
<input type="hidden" value="@ViewData["ClientID"]" id="hdnClientId" />
<input type="hidden" value="@ViewData["ProjectID"]" id="hdnProjectId" />
<input type="hidden" value="@ViewData["DatabaseIP"]" id="hdnDatabaseIP" />
<input type="hidden" value="@ViewData["SourceTarget"]" id="hdnSourceTarget" />
<input type="hidden" value="@ViewData["DatabaseName"]" id="hdnDatabaseName" />
<input type="hidden" value="@ViewData["ConfigId"]" id="hdnConfigId" />
<input type="hidden" value="@ViewData["TgtConfigId"]" id="hdnTgtConfigId" />
