@{
    ViewBag.Title = "Integration";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<script lang="ja" type="text/javascript">
    $(document).ready(function () {
        debugger;
        var baseUrl = '@Url.Content("~/")';
        var client_ID = $("#hdnClientId").val();
        var project_ID = $("#hdnProjectId").val();
        var DatabaseIP = $("#hdnDatabaseIP").val();
        var SourceTarget = $("#hdnSourceTarget").val();
        var DatabaseName = $("#hdnDatabaseName").val();
        var configId = $("#hdnConfigId").val();

        var selectedColumn = [];
        var selectedhouseno1 = [];
    
        //var ColumnNames;
        //var columns = [];
        $("#ddlSourceTablles").change(function () {
         
            var tablename = $("#ddlSourceTablles option:selected").text();
            var rowcount = "ALL"; //$("#ddSampleNoRecords option:selected").text();
            var colModel = new Array();
            var colNames = new Array();
            var ColumnNames;
            var ColumnModel;
            var rows;

            //var selectedRow = jQuery("#jqgrid1").jqGrid('getGridParam', 'selarrrow');
            //if (selectedRow == undefined || selectedRow == "") {
            //    alert('Select column(s) to view data');
            //    return;
            //}

            var selectedColumns = '*';
            //for (var i = 0; i < selectedRow.length; i++) {
            //    selectedColumns += '[' + jQuery("#jqgrid1").jqGrid('getCell', selectedRow[i], 'columnname') + "],";
            //}

            rows = null;

            $.ajax({
                url: baseUrl + "api/DataProfilerAPI/GetProfilerSampleDataColHeader",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                data: { config_ID: 20331, table_name: tablename, column_list: selectedColumns, row_count: rowcount },
                dataType: "json",
                cache: false,
                success: function (data) {
                  
                    var cols = data.ColNames;
                    //rows = data.rows;
                    if (cols == undefined) { alert(data); return; }
                    var uFields = cols.split(',');
                    var columns = [];
                    for (var i = 0; i < uFields.length ; i++) {
                        columns.push(uFields[i]);
                    }
                    
                    ColumnNames = columns;

                    var uFields = cols.split(',');
                    var columns = [];
                    for (var i = 0; i < uFields.length ; i++) {
                        columns.push({ name: uFields[i], index: uFields[i], width: 80, search: true, sortable: false, editable: true, hidden: false, align: 'center' });
                    }
                    ColumnModel = columns;

                    $("#sampledata").GridUnload();
                    $grid = jQuery("#sampledata").jqGrid({
                        mtype: 'GET',
                        postData: { config_ID: 20331, table_name: tablename, column_list: selectedColumns, row_count: rowcount },
                        url: baseUrl + "api/DataProfilerAPI/GetProfilerSampleData",
                        datatype: 'json',
                        //data: JSON.parse(rows),
                        //datatype: "local",
                        height: 250,
                        multiselect: true,
                        width: 1400,
                        rowNum: 50,
                        rowList: [5, 10, 20, 50],
                        colNames: ColumnNames,
                        colModel: ColumnModel,
                        pager: '#pager_sampledata',
                        viewrecords: true,
                        //loadonce: true,
                        //gridview: true,
                        //sortorder: 'asc',
                        autowidth: false,
                        shrinkToFit: false,
                        scrollOffset: 0,
                        showButtonPanel: true,
                        closeAfterEdit: true,
                        caption: 'Sample Data',
                        loadComplete: function () {
                           // debugger;
                            var rows = $("#sampledata").jqGrid('getDataIDs');
                            for (i = 0; i < rows.length; i++) {
                                var rowData = $("#sampledata").getRowData(rows[i]);
                                var columnName = rowData.columnname;
                                if ($.inArray(columnName, selectedColumn) != -1) {
                                    $("#sampledata").jqGrid('setSelection', rows[i], true);
                                }
                            }
                            //reset the array
                            selectedColumn = [];
                        }
                    })
                    jQuery("#sampledata").jqGrid('sortableRows');
                },
                error: function (err) {
                    //alert("Error with AJAX callback. Error: " + err.responseText);
                    alert(err);
                }
            });

        });
        $('#btnSAPIntegration').click(function () {

            //var rowData = "";
            //var selectedRow = jQuery("#sampledata").jqGrid('getGridParam', 'selarrrow');
            //if (selectedRow == undefined || selectedRow == "") {
            //    alert('Select column(s) to view data');
            //    return;
            //}
            //debugger;
            //var selectedColumns = '';
            //for (var i = 0; i < selectedRow.length; i++) {

            //    var rowId = $("#sampledata").jqGrid('getGridParam', 'selrow');
            //    rowData = jQuery("#sampledata").getRowData(rowId);
            //    //for (var i = 0; i < rowData.length; i++) {

            //    //    selectedColumns += rowData[i];
            //    //}

            //    //selectedColumns += '[' + jQuery("#sampledata").jqGrid('getCell', selectedRow[i], 'ROW_ID') + "],";
               
            //}
            //console.log(rowData);

            $.ajax({
                type: "GET",
                url: baseUrl + "api/DataProfilerAPI/SapIntegration",
                
                data: {  functionname: $("#ddlBAPIFunctions option:selected").text() },
                dataType: 'json',
                success: function (data) {
                    alert(data);
                }
            });

        });
       
    });
</script>
<div class="content-body width-per-100">
    <div id="divroles" style="width: 60%;margin: 0 auto;float:none;" class="group">
        <div class="form-group width-per-100">
            <span style="font-size: 12px; font-family: arial; font-weight: bold;">Select Table</span>
            <select id="ddlSourceTablles" class="dropdown" style="width:44%;">
                <option value="Select">Select</option>
                <option value="2">dbo.JM_Partner_Target</option>
                <option value="1">dbo.JM_Contract_Target</option>
            </select>

        </div>
        <div class="col-40" style="width: 97%;">
            <div class="form-group width-per-100">
                <span style="font-size: 12px; font-family: arial; font-weight: bold;">BAPI Function</span>
                <select id="ddlBAPIFunctions" class="dropdown" style="width:44%;">
                    <option value="Select">Select</option>
                    <option value="1">Create BussinessPartner</option>
                    <option value="2">Create Contract</option>
                </select>

            </div>
           
        </div>
    </div>
    <div class="group" style="width: 60%;margin: 0 auto;float:none;">
        <div class="form-btn-row" style="width:60%;">
            <input name="btnTestDBcon" value="Post to SAP"  id="btnSAPIntegration" title="Verify Database connection" class="button btn-width-150"
                   type="submit" tabindex="23" />
         
        </div>
    </div>

    <div class="group">
        <div class="form-group" style="padding-left: 10px;">
            <table id="sampledata" class="scroll" align='center'></table>
            <div id="pager_sampledata" class="scroll"></div>
        </div>
    </div>
</div>
<input type="hidden" value="@ViewData["ClientID"]" id="hdnClientId" />
<input type="hidden" value="@ViewData["ProjectID"]" id="hdnProjectId" />
<input type="hidden" value="@ViewData["DatabaseIP"]" id="hdnDatabaseIP" />
<input type="hidden" value="@ViewData["SourceTarget"]" id="hdnSourceTarget" />
<input type="hidden" value="@ViewData["DatabaseName"]" id="hdnDatabaseName" />
<input type="hidden" value="@ViewData["ConfigID"]" id="hdnConfigId" />