@{
    //ViewBag.Title = "_Layout";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="content">
    <!-- Body start -->
    <div class="content_mid contact">
        <div class="ui-tabs">
            <ul id="Menu" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-corner-all" style="font-weight: normal;">
                <li id="liConfig" class="@((ViewBag.SelectedMenu == "1") ? "ui-state-default ui-corner-top ui-tabs-selected" : "ui-state-default ui-corner-top")"
                    style="width: 19.7%;">
                    @Html.ActionLink("Configuration", "Index", "DIMAPLUS")
                </li>
                <li class="@((ViewBag.SelectedMenu == "2") ? "ui-state-default ui-corner-top ui-tabs-selected" : "ui-state-default ui-corner-top")"
                    style="width: 19.7%;">
                    @Html.ActionLink("Criteria", "Criteria", "DIMAPLUS")
                </li>
                <li class="@((ViewBag.SelectedMenu == "3") ? "ui-state-default ui-corner-top ui-tabs-selected" : "ui-state-default ui-corner-top")"
                    style="width: 19.7%;">
                    @Html.ActionLink("Copy Sliced Data", "Copy", "DIMAPLUS")
                </li>
                <li id="liUserDefineRule" class="@((ViewBag.SelectedMenu == "4") ? "ui-state-default ui-corner-top ui-tabs-selected" : "ui-state-default ui-corner-top")"
                    style="width: 19.7%;">
                    @Html.ActionLink("Reports", "Reports", "DIMAPLUS")
                </li>
                <li class="@((ViewBag.SelectedMenu == "5") ? "ui-state-default ui-corner-top ui-tabs-selected" : "ui-state-default ui-corner-top")"
                    style="width: 19.7%;">
                    @Html.ActionLink("Purge Sliced Data", "Purge", "DIMAPLUS")
                </li>
            </ul>
        </div>
    </div>
    @RenderBody()
    <div class="form-load-img">
        <asp:Image ID="Loadinglbl" ClientIDMode="Static" runat="server" ImageUrl="~/DMO_Style/images/load5.gif" Style="visibility: hidden;" />
    </div>
    <!-- Body end -->
</div>

@*@Scripts.Render("~/bundles/jquery")*@
@RenderSection("Scripts", false)
