<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/redmond/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="http://www.ok-soft-gmbh.com/jqGrid/jquery.jqGrid-4.5.4/css/ui.jqgrid.css" />
    <link href="~/Content/multiple-select.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-en.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.multiple.select.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="container">
                <div class="header">
                    <!-- Header start -->
                    <div class="header-logo" style="padding: 0;">
                        <img src="~/Images/automation.png" alt="logo" style="height: 70px;" />
                        @Html.ActionLink("Home", "Index", "Home")
                    </div>
                    <div class="header-user">
                        <div class="header-user-details">
                            <a id="lnkUserName">@(ViewBag.UserName)</a>
                        </div>
                        <div class="header-logout">
                            @Html.ActionLink("Logout", "Logout", "Home")
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="content">
            <!-- Body start -->
            <div class="content_mid contact">
                <div class="ui-tabs">
                    <ul id="Menu" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-corner-all" style="font-weight: normal;">
                        <li id="liConfig" style="width: 14%;" class="@((ViewBag.SelectedMenu == "1") ? "ui-state-default ui-corner-top ui-tabs-selected shadow" : "ui-state-default ui-corner-top shadow")">
                            @Html.ActionLink("Configuration", "Configuration", "Automaton")
                        </li>
                        <li id="liPreRuleSelection" style="width: 14%;" class="@((ViewBag.SelectedMenu == "2") ? "ui-state-default ui-corner-top ui-tabs-selected shadow" : "ui-state-default ui-corner-top shadow")">
                            @Html.ActionLink("Create Template", "CreateTemplate", "Automaton")
                        </li>
                        <li id="liUserDefineRule" style="width: 14%;" class="@((ViewBag.SelectedMenu == "3") ? "ui-state-default ui-corner-top ui-tabs-selected shadow" : "ui-state-default ui-corner-top shadow")">
                            @Html.ActionLink("Modify Template", "ModifyTemplate", "Automaton")
                        </li>
                        <li style="width: 24%;" class="@((ViewBag.SelectedMenu == "4") ? "ui-state-default ui-corner-top ui-tabs-selected shadow" : "ui-state-default ui-corner-top shadow")">
                            @Html.ActionLink("Review & Execute", "ReviewAndGenerate", "Automaton")
                        </li>
                        <li class="ui-state-default ui-corner-top shadow" style="width: 20%;">
                            <a href="#">Data Management</a>
                            <ul style="padding: 0px;width:100%;" class="shadow">
                                <li style="width: 14%; margin: 1px !important; text-align: left; cursor: pointer; width: 99%;" class="@((ViewBag.SelectedMenu == "5") ? "ui-state-default ui-corner-top ui-tabs-selected" : "ui-state-default ui-corner-top")">
                                    @Html.ActionLink("Upload", "ExcelTemplate", "Automaton", null, new { @style = "width: 100% !important;" })
                                </li>
                                <li style="width: 14%; margin: 1px !important; text-align: left; cursor: pointer; width: 99%;" class="@((ViewBag.SelectedMenu == "6") ? "ui-state-default ui-corner-top ui-tabs-selected" : "ui-state-default ui-corner-top")">
                                    @Html.ActionLink("Download", "Downloads", "Automaton", null, new { @style = "width: 100% !important;" })
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            @RenderBody()
            <div class="form-load-img">
                <asp:Image ID="Loadinglbl" ClientIDMode="Static" runat="server" ImageUrl="~/DMO_Style/images/load5.gif" Style="visibility: hidden;" />
            </div>
            <!-- Body end -->
        </div>
        <footer class="footer">
            <div>
                <!-- Footer start -->
                <div class="ft-img">
                    © copyright, 2016. Hexaware Technologies. All Rights Reserved.
                </div>
                <!-- Footer end -->
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
