@using Resources
@model DM_UI.Models.RuleCategoryModel

@{
    ViewBag.Title = @DM_en_US.lblRuleCategory;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var message = TempData["AlertMsg"] ?? string.Empty;
    var _command = TempData["Command"] ?? string.Empty;
}

<script lang="ja" type="text/javascript">
    $(document).ready(function () {
        var baseUrl = '@Url.Content("~/")';
        var ServiceUrl = baseUrl + "api/HXRRuleAPI/GetAllRuleCategories";
        $("#grdRuleCategory").GridUnload();
        $grid = jQuery("#grdRuleCategory").jqGrid({
            // postData: { client_ID: client_ID, project_ID: project_ID, Table_Name: feed_type, Column_Name: splitcol[0], Rule_TypeID: Rule_TypeID },
            postData: {},
            mytype: 'GET',
            datatype: 'json',
            //url: 'TableviewServlet',
            url: ServiceUrl,
            editurl: baseUrl + 'Hexarule/RuleCategoryUpdate',
            jsonReader: { id: "CategoryId" },
            prmNames: { id: "CategoryId" },
            height: 250,
            width: 1077,
            autowidth: true,
            shrinkToFit: true,
            reloadAfterSubmit: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            sortname: 'RuleCategory',
            colNames: ['CategoryId', '@DM_en_US.lblRuleCategory', 'Description'],
            colModel: [
            { key: true, hidden: true, name: 'CategoryId', index: 'CategoryId' },
            { key: false, name: 'RuleCategory', index: 'RuleCategory', editable: true, width: 50, editrules: { required: true } },
            { key: false, name: 'CategoryDescription', index: 'CategoryDescription', editable: true, width: 50, editrules: { required: true } }
            ],
            pager: '#pager1',
            scrollOffset: 0,
            viewrecords: true,
            viewsortcols: true,
            loadonce: true,
            gridview: true,
            sortorder: 'asc',
            reloadAfterSubmit: true,

            caption: '@DM_en_US.lblRuleCategory'
        });

        jQuery("#grdRuleCategory").jqGrid('navGrid', '#pager1', {
            edit: true, add: false, del: true, search: false, refresh: false,
            edittext: 'Edit',
            deltext: 'Delete',
            editfunc: function (rowid) {
                var _RuleCategory = $("#RuleCategory_Name");
                var _CategoryDescription = $("#RuleCategory_Desc");

                _RuleCategory.val($grid.jqGrid('getCell', rowid, 'RuleCategory'));
                _CategoryDescription.val($grid.jqGrid('getCell', rowid, 'CategoryDescription'));


                $("#btnSave").val('Update');
                $("#btnClear").val('Cancel');
                $("#hdnRuleCategoryId").val(rowid);
                
                _RuleCategory.focus();
            }
        },
            {
                closeOnEscape: true,
                closeAfterEdit: true,
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                },
                afterSubmit: function () {
                    $(this).jqGrid("setGridParam", { datatype: 'json' });
                    return [true];
                }
            },
            {
                closeOnEscape: true,
                closeAfterEdit: true,
                afterComplete: function (response) {
                    if (response.responseText) {
                        alert(response.responseText);
                    }
                }
            },
            {
                closeOnEscape: true,
                closeAfterEdit: true,
                recreateForm: true,
                afterComplete: function (response) {
                    if (response.responseText) {
                        //alert(response.responseText);
                        if (response.responseText == 'Deleted successfully.')
                            ShowMessage(response.responseText, 'success');
                        else ShowMessage(response.responseText, 'failed');
                    }
                }
            });
        jQuery("#grdRuleCategory").jqGrid('sortableRows');
        $("#btnReset").click(function () {
            $("input[type='text']").each(function () {
                $(this).val('');
            });
        });
        var message = '@message'
        if (message) {
            //alert(message);
            var _class;
            if (message == 'Saved successfully.'
                || message == 'Updated successfully.'
                || message == 'Deleted successfully.') {
                _class = 'success';
            }
            else {
                _class = 'failed';
            }
            ShowMessage(message, _class);

        }
        else
            HideMessage();

        var _cmd = '@_command'
        if (_cmd) {
            $("#btnSave").val('Update');
            $("#btnClear").val('Cancel');
        }
    });
    function ShowMessage(message, cssclass) {
        $("#msgbox").show();
        $("#msgbox span").text(message);

        $("#msgbox span").removeClass();
        $("#msgbox span").addClass(cssclass);
    }
    function HideMessage() {
        $("#msgbox").hide();
    }
</script>

@using (Html.BeginForm("RuleCategorySave", "Hexarule", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="content-body width-per-100">
        <div style="width:80%;margin:auto;">
            <div class="group">
                <div class="div-header">
                    <span class="control-label label-bold">@DM_en_US.lblRuleCategory</span>
                </div>
                <div class="col-40" style="width: 44%;padding: 0;">
                    <div class="form-group width-per-100">
                        @Html.LabelFor(r => r.RuleCategory_Name, new { @class = "control-label" })
                        @Html.TextBoxFor(r => r.RuleCategory_Name, new { @class = "form-control", @tabindex = "1", @maxlength = "12" })
                        @Html.ValidationMessageFor(r => r.RuleCategory_Name, string.Empty, new { @class = "error-msg" })
                    </div>
                </div>
                <div class="col-40" style="width: 44%;padding-right: 0px;">
                    <div class="form-group width-per-100">
                        @Html.LabelFor(r => r.RuleCategory_Desc, new { @class = "control-label" })
                        @Html.TextBoxFor(r => r.RuleCategory_Desc, new { @class = "form-control", @tabindex = "2", @maxlength = "37" })
                        @Html.ValidationMessageFor(r => r.RuleCategory_Desc, string.Empty, new { @class = "error-msg" })
                    </div>
                </div>
                <div class="col-10" style="padding-top: 20px; text-align: right; width: 12%; padding-right: 0px;">
                    <input value="Save" id="btnSave" class="button" name="Command" type="submit" tabindex="3" />
                    <input value="Clear" id="btnClear" class="button" name="Command" type="submit" tabindex="4" />
                    <input type="hidden" name="_ruleCategoryId" id="hdnRuleCategoryId" />
                </div>
            </div>
            <div id="msgbox" class="group text-align-center">
                <span class="success">Saved Successfully.</span>
            </div>
            <div class="group">
                <div id="grddiv" class="form-group width-per-100">
                    <table id="grdRuleCategory"></table>
                    <div id="pager1" class="scroll"></div>
                </div>
            </div>
        </div>
    </div>
}
@*@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}*@